:root{
    --orange-color:hsl(31, 77%, 52%);
    --darkcyan-color:hsl(184, 100%, 22%);
    --verydarkcyan-color:hsl(179, 100%, 13%);
    --lightgray-color:hsl(0, 0%, 95%);
    --primary-font: 'Big Shoulders Display', cursive;
    --secondary-font: 'Lexend Deca', sans-serif;
    /*Very light gray (background, headings, buttons)
    Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)*/
}

body{
    font-size: 14px;
   background-color:var(--lightgray-color);
  
}

.row-custom > div:first-of-type{
   border-radius:8px 8px  0 0;
}

.row-custom > div:last-of-type{
border-radius: 0 0 8px 8px;
}

.sedans-container{
    background-color: var(--orange-color);
   
}
.suvs-container{
    background-color:var(--darkcyan-color) ;
    
}
.luxury-container{
    background-color: var(--verydarkcyan-color);
    
}
.title-custom{
    font-family: var(--primary-font);
    color: var(--lightgray-color);
}

.text{
    word-spacing: 2px;
    font-family: var(--secondary-font);
    color:  hsla(0, 0%, 100%, 0.75);
}
.button-custom{
    padding: 10px 20px !important;
    font-family: var(--secondary-font);
    cursor: pointer;
    background-color: var(--lightgray-color);
}

.btn-sedan{
    color:  var(--orange-color);
}
.btn-suv{
    color: var(--darkcyan-color);
}
.btn-luxury{
    color: var(--verydarkcyan-color);
}
.attribution{
    font-size: 10px;
}
@media  (min-width: 768px){
    .container-wrapper{
        height: 100vh;
        max-width:950px;
    }
    .row-custom > div:first-of-type{
        border-radius:  8px 0  0 8px;
     }
     
     .row-custom > div:last-of-type{
     border-radius: 0 8px 8px 0;
     }
     .button-custom{
        margin-top: 50px;
     }
    
}
    


